# Entorno virtual
venv/
ENV/
env/

# Variables de entorno
.env

# Archivos de Python
__pycache__/
*.py[cod]

# Base de datos local SQLite (si la usas)
*.sqlite3

# VS Code / IDEs
.vscode/
.idea/