{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-4" style="max-width: 650px;">
    <div class="card bg-dark text-white shadow">
        <div class="card-header bg-primary text-white">
            <h4>{{ titulo_pagina }}</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-between mt-4">
                    <a href="{% url 'lista_instalaciones' %}" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-success">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}